<?xml version="1.0" encoding="utf-8"?>
<!-- jMonDB logging: detailed logging to file <jmondb.log> and console -->
<configuration>

	<appenders>
		<RollingFile name="logFile" fileName="jmondb.log" filePattern="jmondb.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
		</RollingFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	
	<loggers>
		<root level="TRACE">
			<appender-ref ref="logFile" />
			<appender-ref ref="console" level="OFF" />
		</root>
	</loggers>
	
</configuration>
