<?xml version="1.0" encoding="utf-8"?>
<!-- iMonDB-collector logging: detailed logging to file <imondb-collector.log> and console -->
<configuration>

	<appenders>
        <RollingFile name="logFile" fileName="imondb-collector.log" filePattern="imondb-collector.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
        <SystemOutAppender name="sout">
            <PatternLayout pattern="%d{HH:mm:ss} - %-5level - %msg" />
        </SystemOutAppender>
	</appenders>
	
	<loggers>
		<root level="DEBUG">
            <appender-ref ref="logFile" />
            <appender-ref ref="sout" level="INFO" />
			<!--<appender-ref ref="console" />-->
		</root>
	</loggers>
	
</configuration>
