<?xml version="1.0" encoding="utf-8"?>
<!-- iMonDB-collector logging: detailed logging to file <imondb-collector.log> and console -->
<configuration>

	<appenders>
        <RollingFile name="logFile" fileName="imondb-collector.log" filePattern="imondb-collector.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
		<Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} - %-5level - %msg%n" />
		</Console>
        <TextPaneAppender name="textPane">
            <PatternLayout pattern="%d{HH:mm:ss} - %-5level - %msg%n" />
        </TextPaneAppender>
	</appenders>
	
	<loggers>
		<root level="INFO">
            <appender-ref ref="logFile" />
            <!--<appender-ref ref="textPane" />-->
			<!--<appender-ref ref="console" />-->
		</root>
	</loggers>
	
</configuration>
